# NodeJS
/node_modules

# Public
/public/hot
/public/css
/public/js
/public/mix-manifest.json
/public/vendor
/public/storage

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
