# NodeJS
node_modules

# Public
public/hot
public/css
public/js
public/mix-manifest.json
public/vendor
public/storage

# Nova ;)
resources/views/vendor/nova
resources/lang/vendor/nova
config/nova.php
app/nova

storage/*.key
vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
