.custom-label input:checked + svg {
  display: block !important;
}
.modal {
  transition: opacity 0.3s ease;
}
.toggle__dot {
  top: -.25rem;
  left: -.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: #292A2F;
}

[x-cloak] {
    display: none;
}