.navbar .dropdown:hover .dropdown-menu {
  display: block;
}

.custom-label input:checked + svg {
  display: block !important;
}
.modal {
  transition: opacity 0.3s ease;
}
.toggle__dot {
  top: -.25rem;
  left: -.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: #292A2F;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
//Pretty annoying
.grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

//Absolutely delightful
.grid {
    grid-template-columns: repeat(12, 1fr);
}