.custom-label input:checked + svg {
  display: block !important;
}
.modal {
  transition: opacity 0.3s ease;
}
.toggle__dot {
  top: -.25rem;
  left: -.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: #292A2F;
}

[x-cloak] {
    display: none;
}

:checked+label div.border {
    transform: scale(1.03);
    box-shadow: 0 0 5px #333;
    z-index: -1;
    --border-opacity: 1;
    border-color: #f9fafb;
    border-color: rgba(249, 250, 251, var(--border-opacity));
}